
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: 'padaukregular';
    src: url('../fonts/padauk-regular-webfont.woff2') format('woff2'),
         url('../fonts/padauk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* loader*/
.loader-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999; }
  
  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 5px;
    width: 5em;
    height: 5em;
    margin: -25px 0 0 -25px;
    text-indent: -9999em;
    border-top: 0.5em solid #121212;
    border-right: 0.5em solid rgba(245, 245, 245, 0.5);
    border-bottom: 0.5em solid rgba(245, 245, 245, 0.5);
    border-left: 0.5em solid rgba(245, 245, 245, 0.5);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear; }
  
  .loader,
  .loader:after {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 10em;
    height: 10em; }
  
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg); } }
  

/* General */

.btn{
    background-color:#A9A9A9;
    font-size: 1.4em;
    font-weight: 500;
    color: lightslategrey;

}

.submit{
    background-color:#A9A9A9!important;
    font-size: 1.4em;
    font-weight: 500;
    color: lightslategrey!important;

}

h1{
    font-family: 'Raleway', sans-serif;
    color:#5b75f6;
}

h2{
    color:#5b75f6;
    font-family: 'Raleway', sans-serif;
}

h3{
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    color: oldlace;
}

body{
    font-family: 'padaukregular', sans-serif;
}

section{
    padding-top: 100px;
    padding-bottom:50px;
}

@media(max-width: 576px) { 
.btn
{
    font-size: 0.8em;
}

}

/*nav */
.logo{
    max-width: 200px;
}
nav ul li a{
    color:white;
    font-size: 1.1em;
    text-transform: uppercase;
}


@media(max-width: 576px) { 
    nav ul li a{
     
        font-size: 0.5em;
        
    }

    .navbar-brand{
        display:block;
        margin:auto;
}
}



/* video landing page */

.video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh );
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    
  }
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video-background-content {
    position: relative;
    z-index: 2;
  }
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  .display-4{
    text-shadow: 0 1px 2px rgba(0,0,0,.6);50%);
}
/* hides landing page video*/
  /* .a{
      display:none;
  } */

  /* transparent navbar */
  header {
    width: 100%;
    max-width: 100%;
    position: fixed;
    z-index: 999;
    background: rgba(50,50,50,.95);
    box-shadow: 0 10px 20px rgba(50,50,50,.95);
}
/* carousel */
.carousel-inner{
 height:700px;
}

.carousel-item img{
    height:700px;
}

.slide-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);50%);

}

.carousel-control-prev-icon{
    background-color:#5b75f6!important;
}

.carousel-control-next-icon{
    background-color:#5b75f6!important;
}

@media (max-width: 575.98px) { 
 .carousel-caption h3 {
     font-size: 2em;
     text-align: center!important;
 }
}


/* services */

.services-icon-holder{
    text-align: center;

}

.services-icon-holder p{
    display:block;
    margin:auto;
    width:80%;
    font-size:20px;
}

.services-icon-holder i{
    font-size: 5em;
    color:grey;
}

.jetwash{
    height:7em;
}

.quote-button{
    display: block;
text-align: center;
padding-top: 50px;

}



@media (max-width: 1300px) { 
    .services-icon-holder i{
        font-size: 2.5em;
        color:grey;
    }
    h2{
        font-size:1em;
    }
    section{
        padding-top: 30px;
    }
    .services-icon-holder p{
        font-size: 18px;
        width:90%;
}

 }

 @media (max-width: 575.98px) { 
    .jetwash{
        height: 2.8em;
    }
    .services-icon-holder p{
            font-size: 16px;
    }
}
/* background for services block*/

.marketing {
  background-image: url("../img/bg.png"); /* The image used */
  /* background-color: #cccccc; Used if the image is unavailable */
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding-top: 10%;
 
  margin-top: -15px!important;
}

/* about */

.eddie-photo{
    border-radius: 50%;
    height:400px ;
    width:400px;
    -webkit-box-shadow: 2px 2px 5px 0px rgb(199, 196, 196);
    -moz-box-shadow: 2px 2px 5px 0px rgba(199, 196, 196);
    box-shadow: 2px 2px 5px 0px rgba(199, 196, 196);
}



.tab-content>.tab-pane{
    font-size: 1.2em;
}

@media (max-width: 769px) { 
    .eddie-photo{
    height:250px ;
    width:250px;
    }
}

@media (max-width: 575.98px) { 
    .eddie-photo{
        padding-bottom: 20px;
        margin:auto;
        display: block;
  border-radius: 5px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
    }
    .marketing{
        height:800px;
    }
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #5b75f6;
}

/* contact form */
.contact{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact-sec{
    background: rgb(246,246,246);
    background: radial-gradient(circle, rgba(246,246,246,1) 0%, rgba(204,211,246,1) 57%, rgba(91,117,246,1) 100%);
}
.contact-sidebar{
    background:darkgray;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.call{
    color: #5b75f6;
}

/* small only */
.small-heading {
    margin-left: 10px;
}

.g-recaptcha div{
    margin:auto!important;
    padding-bottom: 20px;
 
}

.submit{
    margin-top: 10px;
    font-size: 1em!important;
}

@media(max-width: 576px) { 
    .contact-sec{
        background: white!important;
    }
   .quote-button{
        padding-left: 0;
    }
}

/* signup */
.sign-up{
    text-align: center;
}
.input-group {
    width: 300px;
    margin: auto;
}
.signup-text{
    margin: auto;
    font-size: 1.2em;
    width: 50%;
    display: block;
}

.sign-up i {
    font-size: 5em;
    color:#5b75f6;
    padding-bottom: 10px;
}

.sign-button{
    font-size: 1.5em!important;
    border:none;
    display: block;
    margin: auto;
    margin-top: 20px;;
}

.g-recaptcha{
    margin-top:20px;

}

/*footer*/
footer{
    height:300px;
    background-color:#282828;
   padding-top:100px;
}

.footer-copyright {
    color:white!important;
}

.footer-form{
    padding-top:5%;
}
.footer-form i {
    color:white;
    font-size: 2.5em;
    padding:10px;
}

.footer-form i:hover {
    color:#5b75f6 ;
    cursor: pointer;
  }
.input-mail{
    border:none;
    background-color:#282828;
    border-bottom: #ffffff 3px solid;
    width:80%;

}

.input-mail:focus {
    border:none!important;
    border-bottom: #5b75f6 3px solid;
  }

  .input-mail:after {
    border:none!important;
    border-bottom: #5b75f6 3px solid;
  }

.mail_button{
    background-color:white ;
}

.media-holder{
    text-align: center;
}

@media (max-width: 769px) { 

    .input-mail{
        width:50%;
    }
}

@media(max-width: 576px) { 
    .input-mail{
        width:70%;
    }

    .media-holder {
        text-align: center;
    }
}